html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);
}

.polaroid > img {
  display: block;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}


figcaption {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}

body figure:nth-child(1) {
  position: absolute;
  left: 250px;
  bottom: 500px;
  z-index: 1;
}

body figure:nth-child(2) {
  position: absolute;
  left: 200px;
  bottom: 300px;
  z-index: 3;
}

body figure:nth-child(3) {
  position: absolute;
  left: 400px;
  bottom: 275px;
  z-index: 2;
}
