html {
  background-color: #e2e2e2;

  font-family: sans-serif;
}

.polaroid {
  margin: 0;
  padding: 10px;
  width: 250px;

  background-color: #fff;
  border-radius: 4px;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .5);

  position: absolute;

  transition: all 200ms linear;
}

.polaroid > img {
  display: block;
  width: 100%;
}

figcaption {
  text-align: center;
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
}

.polaroid > figcaption {
  color: #fff;
  text-shadow: 1px 1px 3px #000;
}

body figure:nth-child(1) {
  left: 20%;
  top: 100px;
  z-index: 1;

  transform: rotate(-10deg);
}

body figure:nth-child(2) {
  left: 30%;
  top: 150px;
  z-index: 3;

  transform: rotate(5deg);
}

body figure:nth-child(3) {
  left: 40%;
  top: 100px;
  z-index: 2;

  transform: rotate(25deg);
}

.polaroid:hover {
  transform: rotate(0deg);
  z-index: 5;
  box-shadow: 1px 4px 6px rgba(0, 0, 0, .9);
}
